body {
	background-image: url(https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?size=626&ext=jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	opacity: 0.9;
}

h1{
	position:relative;
	top:100px;
	left:750px;
}

#form-div{
	border:2px,solid,black;
	width:600px;
	height:700px;
	background-color:lavender;
	margin:20px;
	padding:10px;
	position:relative;
	top:100px;
	left:600px;
	border-radius: 20px;
}

input{
	display:block;
	width:400px;
	height:40px;
	margin-left:50px;
	margin-top:20px;
	padding:5px;
	border-radius: 10px;
}

textarea{
	display:block;
	width:400px;
	height:70px;
	margin-left:50px;
	margin-top:30px;
	padding:10px;
	border-radius: 10px;
	
}

#submit{
	display:block;
	width:100px;
	height:40px;
	position:relative;
	left:100px;
	border-radius: 10px;
}